# **실습문제(조건문)**

## 문제 1 : 두 수 비교하기

* 사용자로부터 두 개의 정수를 입력받습니다.
* 두 수를 비교하여 어떤 수가 더 큰지, 또는 같은지 판별해야 합니다.
* 첫 번째 수가 두 번재 수보다 큰 경우를 `if` 문으로 확인합니다.
* 첫 번재 수가 두 번째 수보다 작은 경우를 `elif`문으로 확인합니다.
* 위의 두 조건이 모두 거짓인 경우 `else` 문으로 두 수가 같음을 처리합니다.
* 비교 결과를 출력합니다.

In [28]:
num1 = int(input("첫 번째 정수를 입력하세요: "))
num2 = int(input("두 번째 정수를 입력하세요: "))

if num1 > num2:
  print(f"{num1}은(는) {num2}보다 큽니다.")
elif num1 < num2:
  print(f"{num1}은(는) {num2}보다 작습니다.")
else:
  print(f"{num1}과(와) {num2}은(는) 같습니다.")

첫 번째 정수를 입력하세요: 1
두 번째 정수를 입력하세요: 2
1은(는) 2보다 작습니다.

파이썬의 예외 처리

* `try` 블록 : 예외가 발생할 가능서이 있는 코드를 포함
* `execpt` 블록: try 블록에서 특정 예외가 발생하면 실행됨. 예외 유형을 지정하여 특정 예외 처리 가능
* `finally` 블록: 예외 발생 여부와 관계없이 항상 실행.

-> 코드의 가독성을 향상

---

## 문제 2: 세 수 중 가장 큰 수 찾기

* 사용자로부터 세 개의 정수를 입력받습니다. 각각 `num1`, `num2`, `num3` 변수에 저장합니다.
* 가장 큰 수를 저장할 변수 `max_num`을 초기화합니다. 처음에는 첫 번째 수를 가장 큰 수라고 가정합니다.
* `if`문을 사용하여 `num2`가 현재 `max_num`보다 큰 지 비교합니다. 만약 크다면 `maw_num`을 `num2`로 업데이트합니다.
* 다시 `if`문을 사용하여 `num3`가 현재 `max_num`보다 큰지 비교합니다. 만약 크다면 `max_num`을 `num`로 업데이트합니다.
* 모든 비교가 끝나면 `max_num` 변수에 세 수 중 가장 큰 수가 저장됩니다.
* 최종적으로 `max_num` 갑을 출력하여 결과를 사용자에게 보여줍니다.
* 입력 과정에서 발생할 수 있는 `ValueError`를 처리하여 사용자가 유효한 정수를 입력하도록 안내합니다.

In [29]:
num1 = int(input("첫 번째 정수를 입력하세요: "))
num2 = int(input("두 번째 정수를 입력하세요: "))
num3 = int(input("세 번째 정수를 입력하세요: "))

max_num = num1 # 처음에는 num1이 가장 크다고 가정

if num2 > max_num:
  print(f"두 번째 수 {num2}가 현재 최대값 {max_num}보다 큽니다. 최대값을 업데이트합니다.")
  max_num = num2
else:
  print(f"두 번째 수 {num2}는 현재 최대값 {max_num}보다 크지 않습니다.")
if num3 > max_num:
  print(f"세 번째 수 {num3}가 현재 최대값 {max_num}보다 큽니다. 최대값을 업데이트합니다.")
  max_num = num3
else:
  print(f"세 번째 수 {num3}는 현재 최대값 {max_num}보다 크지 않습니다.")

print(f"\n입력하신 세 수 {num1}, {num2}, {num3} 중에서 가장 큰 수는 {max_num}입니다.")

첫 번째 정수를 입력하세요: 1
두 번째 정수를 입력하세요: 2
세 번째 정수를 입력하세요: 3
두 번째 수 2가 현재 최대값 1보다 큽니다. 최대값을 업데이트합니다.
세 번째 수 3가 현재 최대값 2보다 큽니다. 최대값을 업데이트합니다.

입력하신 세 수 1, 2, 3 중에서 가장 큰 수는 3입니다.

---

## 문제 3: 학점 판별하기

* 사용자로부터 시험 점수 (0부터 100 사이의 정수)를 입력받습니다.
* 입력받은 점수에 따라 학점을 판별해야 합니다.
* 90점 이상이면 'A' 학점입니다.
* 80점 이상 90점 미만이면 'B' 학점입니다.
* 70점 이상 80점 미만이면 'C' 학점입니다.
* 60점 이상 70점 미만이면 'D' 학점입니다.
* 60점 미만이면 'F' 학점입니다.
* `if`, `elif`, `else`, 문을 사용하여 점수 범위에 따라 학점을 결정하고 출력합니다.
* 입력 유효성 검사 (0~100 사이의 정수)를 추가합니다.

In [30]:
score = float(input('시험 점수(0~100)을 입력하세요: '))
if score >= 90:
  grade = 'A'
elif score >= 80:
  grade = 'B'
elif score >= 70:
  grade = 'C'
elif score >= 60:
  grade = 'D'
else:
  grade = 'F'
print('당신의 학점은 ', grade, '입니다.')

시험 점수(0~100)을 입력하세요: 45.6
당신의 학점은  F 입니다.

---

## 문제 4: 윤년 판별하기

* 사용자로부터 연도를 입력받습니다.
* 입력받은 연도가 윤년인지 아닌지 판별해야 합니다.
* 윤년의 조건은 다음과 같습니다.
* 4로 나누어 떨어지면서 100으로 나누어 떨어지지 않거나,
* 400으로 나누어 떨어지는 해는 윤년입니다.
* `if`문과 논리 연산자 (`and`, `or`, `not`)를 사용하여 윤년 조건을 확인합니다.
* 조건에 따라 윤년인지 아닌지 출력합니다.

In [31]:
year = int(input('연도를 입력하세요: '))
if (year%4==0 and year%100!=0) or year%400==0:
  print(year, '년은 윤년입니다.')
else:
  print('윤년이 아닙니다.')

연도를 입력하세요: 2025
윤년이 아닙니다.

---

# **5. 반복문(`for`, `while`)**

반복문은 같은 일을 반복할 때 사용합니다.

In [15]:
#for문 (횟수가 정해졌을 때)
for i in range(5):
  print(i)

0
1
2
3
4

In [16]:
for i in range(5):
  print(i+1)

1
2
3
4
5

In [21]:
#리스트
#int, float, str 모두 사용 가능
for i in [1,2,3,4,5]:
  print('반복', i)

반복 1
반복 2
반복 3
반복 4
반복 5

In [19]:
#while문 (조건이 있을 때)
count = 0
while count < 3:
  print('반복 중:', count)
  count += 1 # 하나씩 증가

반복 중: 0
반복 중: 1
반복 중: 2

# **실습문제(반복문)**

## 문제 1: 1부터 N까지의 합 계산하기

* 사용자로부터 양의 정수 N을 입력받습니다.
* 1부터 N까지의 모든 정수를 더해야 합니다.
* 합계를 저장할 변수를 초기화합니다 (0으로 시작).
* `for` 루프를 사용하여 1부터 N까지 순회합니다.
* 각 숫자를 합계 변수에 더합니다.
* 최종 합계를 출력합니다.

In [18]:
N = int(input('양의 정수 N을 입력하세요: '))
total = 0
for i in range(1,N+1):
  total += i

print(f"1부터 {N}까지의 합은: {total}입니다.")

양의 정수 N을 입력하세요: 10
1부터 10까지의 합은: 55입니다.

---
## 문제 4: 특정 조건까지 반복하기 (While 루프)

* 초기값 0부터 시작하는 변수를 하나 설정합니다.
* `while` 루프를 사용하여 변수가 10보다 작을 동안 반복합니다.
* 루프 안에서 현재 변수의 값을 출력합니다.
* 루프가 반복될 때마다 변수의 값을 1씩 증가시킵니다.
* 변수가 10이 되면 루프가 종료됩니다.

In [23]:
count = 0
print('0부터 9까지 출력: ')
while count < 10:
  print(count)
  count += 1
print('while루프 종료')

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
while루프 종료

In [25]:
print('0부터 9까지 출력: ')
for i in range(10):
  print(i)
print('for루프 종료')

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
for루프 종료